.card {
  border: 1px solid var(--grey);
  border-radius: 4px;
  width: 93%;
  height: 145px;
  padding: 15px;
  margin: 4px 0;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h5 {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 18px;
    }

    app-status-bar {
      width: 35%;
    }
  }

  &-content {
    .field {
      display: flex;

      .field-name {
        color: var(--grey);
        margin-right: 10px;
      }

      .date {
        color: var(--warn);
      }
    }
  }
}