.icon-wrapper {
  .icon {
    min-width: 20px;
    min-height: 20px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--white);
    margin-right: 10px;

    &.exit {
      mask-image: url('/assets/icons/exit.svg');
    }

    &.download {
      mask-image: url('/assets/icons/download.svg');
    }

    &.circle {
      mask-image: url('/assets/icons/circle.svg');
    }

    &.form {
      mask-image: url('/assets/icons/form.svg');
    }

    &.customer {
      mask-image: url('/assets/icons/customer.svg');
    }

    &.submission {
      mask-image: url('/assets/icons/submission.svg');
    }

    &.history {
      mask-image: url('/assets/icons/history.svg');
    }

    &.report {
      mask-image: url('/assets/icons/report.svg');
    }

    &.calendar {
      mask-image: url('/assets/icons/calendar.svg');
    }

    &.arrow-left {
      mask-image: url('/assets/icons/arrow-left.svg');
      margin-right: 0;
    }

    &.arrow-right {
      mask-image: url('/assets/icons/arrow-left.svg');
      margin-right: 0;
      transform: rotate(-180deg);
    }

    &.paginate {
      background-color: var(--grey);
    }

    &.green {
      background-color: var(--green);
    }

    &.red {
      background-color: var(--warn);
    }

    &.grey {
      background-color: var(--grey);
    }

    &.blue {
      background-color: var(--blue);
    }
  }
}