.icon-wrapper {
  .icon {
    min-width: 20px;
    min-height: 20px;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #FFFFFF;
    margin-right: 10px;
    //mask-image: url('/assets/icons/arrow.svg');
    &.exit {
      mask-image: url('/assets/icons/exit.svg');
    }

    &.download {
      mask-image: url('/assets/icons/download.svg');
    }

    &.circle {
      mask-image: url('/assets/icons/circle.svg');
    }

    &.form {
      mask-image: url('/assets/icons/form.svg');
    }

    &.customer {
      mask-image: url('/assets/icons/customer.svg');
    }

    &.submission {
      mask-image: url('/assets/icons/submission.svg');
    }

    &.history {
      mask-image: url('/assets/icons/history.svg');
    }

    &.report {
      mask-image: url('/assets/icons/report.svg');
    }

    &.green {
      background-color: #53D86A;
    }

    &.red {
      background-color: #FF3D00;
    }

    &.grey {
      background-color: #B8B9BC;
    }

    &.blue {
      background-color: #2188D9;
    }
  }
}
