.input-wrapper {
  position: relative;

  .prefix {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 24px;
    height: 24px;
    background-color: #B8B9BC;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-image: url('/assets/icons/search.svg');
  }

  .search-input {
    padding-left: 50px;
    width: 100%;
    max-width: 285px;
    height: 48px;
    border: 1px solid #B8B9BC;
    border-radius: 4px;
    font-family: 'Roboto';
    font-size: 16px;
  }
}
