<div class="map-wrapper">
  <div>
    <ng-container class="card-list" *ngFor="let card of cards">
      <app-card class="card" [data]="card"></app-card>
    </ng-container>
    <div class="card-list" *ngIf="!cards.length">
      No cards
    </div>
  </div>
  <div class="map-container">
    <google-map
      [height]="height"
      [width]="width"
      [center]="center"
      [zoom]="zoom"
      (mapClick)="moveMap($event)"
      (mapMousemove)="move($event)"
    >
      <ng-container *ngFor="let img of imageBounds">
        <map-ground-overlay
          [url]="imageUrl"
          [bounds]="img"
        ></map-ground-overlay>
      </ng-container>
    </google-map>
    <button mat-mini-fab class="map-button layers" (click)="mapLayers()">
      <mat-icon>layers</mat-icon>
    </button>
    <button mat-mini-fab class="map-button close" (click)="mapClose()">
      <mat-icon>close</mat-icon>
    </button>

  </div>
</div>
