.map-wrapper {
  display: flex;

  .card-list {
    width: 30vw;
    min-width: 515px;
    display: flex;
    flex-direction: column;
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .map-container {
    position: relative;
    margin: 30px;

    .map-button {
      position: absolute;
      right: 10px;

      &.layers {
        top: 45vh;
      }

      &.close {
        top: 52vh;
      }
    }
  }


}

::ng-deep.gmnoprint {
  top: 25vh;
}