.error {
  color: var(--warn);
}

.mat-elevation-z8 {
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(6, 12, 27, 0.1);
}

.paginator {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-text {
    font-size: 16px;
  }
}

::ng-deep th {
  border-radius: 8px 8px 0 0;
}

::ng-deep .mdc-data-table__row:last-child {
  border-radius: 0 0 8px 8px;

  ::ng-deep td.mat-column-select {
    border-radius: 0 0 0 8px;
  }
}

::ng-deep .mdc-data-table__row:last-child .mdc-data-table__cell {
  border-radius: 0 0 8px 0;
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: var(--basic-white);
}

.custom-pagination {
  display: flex;

  .pagination-block {
    cursor: pointer;
    width: 32px;
    height: 32px;
    margin: 0 4px;
    border: 1px solid var(--grey);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.current {
      border-color: var(--blue);
      color: var(--blue);
    }

    &.disabled {
      background-color: var(--light-grey);
      pointer-events: none;
    }
  }
}