.error {
  color: #FF3D00;
}

.mat-elevation-z8 {
  border: 1px solid #ECECED;
  border-radius: 8px;
}

.paginator {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-text {
    font-size: 16px;
  }
}
